* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black; */
    font-family: sans-serif;
}

.container {
    background-color: grey;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 2rem;
    padding: 1.5rem;
}

.bookCard {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
    gap: 2rem;
    border-radius: 10%;
}

.button-row {
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: 3px solid black;
    border-top: none;
    background-color: grey;
}

.add-book {
    padding: 1rem;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5%;
}

.add-book:hover {
    filter: brightness(90%);
}

.form-container {
    padding: 1rem;
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    border-top: none;
}

.book-title-div {
    font-weight: 700;
    font-size: 1.5rem;
}

.book-author-div {
    font-style: italic;
    font-size: 1.05rem;
}

.change-button {
    padding: 0.5rem;
    cursor: pointer;
}

.change-button:hover {
    filter: brightness(90%);
}

.remove-button {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}