* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black; */
}

.container {
    background-color: grey;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 2rem;
    padding: 1.5rem;
}

.bookCard {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
}

.button-row {
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: 3px solid black;
    border-top: none;
    background-color: grey;
}

.add-book {
    padding: 1rem;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5%;
}

.add-book:hover {
    background-color: black;
    border: 3px solid white;
    color: white;
}

.form-container {
    padding: 1rem;
    display: flex;
    border: 2px solid blue;
    flex-direction: column;
}